<nav class="white px-2 z-depth-0">
  <div class="nav-wrapper px-m-4">
    <div class="input-field left">
      <select class="icons">
        <option value="" disabled selected data-icons="images/location.png" class="left">Saket, New Delhi</option>
        <option value="1" data-icons="images/location.png" class="left">New Friends Colony</option>
        <option value="2" data-icons="images/location.png" class="left">Okhla</option>
      </select>
    </div>
    <div class="left ml-2 hide-on-small-only"><a href="tel:+919876543210" class="black-text"><i class="material-icons left">phone</i>
        011-9876543210</a></div>
    <div class="right hide-on-med-and-down">
      <button class="btn-floating btn-small ml-2 waves-effect waves-circle transparent facebook btn-flat"><img src="images/socials/f.svg"></button>
      <button class="btn-floating btn-small ml-2 waves-effect waves-circle transparent twitter btn-flat"><img src="images/socials/t.svg"></button>
      <button class="btn-floating btn-small ml-2 waves-effect waves-circle transparent instagram btn-flat"><img src="images/socials/i.svg"></button>
      <button class="btn btn-small ml-2 waves-effect modal-trigger" data-target="signIn">Sign in</button>
    </div>
    <form class="right">
      <div class="input-field">
        <input id="search" type="search" required placeholder="Search here" name="q">
        <label class="label-icon" for="search"><i class="material-icons black-text">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>
</nav>
<ul class="sidenav" id="mobile-sidenav">
  <li class="waves-effect w-100 show-on-medium pos-rel lh-0 top-banner">
  </li>
  <li class="user-mobile-drop"></li>
  <li class="waves-effect w-100 mt-2">
    <a href="./"><i class="material-icons">home</i> Home</a>
  </li>
  <li class="waves-effect w-100">
    <a href="about"><i class="material-icons">group</i>
      About Us</a>
  </li>
  <?php
  require_once "services/db.inc.php";
  $sql = "SELECT * FROM `types`";
  $result = DB::getConnection()->query($sql);
  if ($result->num_rows > 0) {  ?>
    <li class="waves-effect w-100" onclick="popOut(this, <?= $numrows ?>)">
      <a href="javascript:;"><i class="material-icons">local_dining</i>
        Menu</a>
      <ul class="small-drop">
        <?php
        while ($nav = $result->fetch_assoc()) { ?>
          <li><a href="menu/<?= $nav['url'] ?>" class="truncate"><?= $nav['title'] ?></a>
          </li>
        <?php } ?>
      </ul>
    </li>
  <?php } ?>
  <li class="waves-effect w-100">
    <a href="gallery"><i class="material-icons">cake</i> Gallery</a>
  </li>
  <li class="waves-effect w-100">
    <a href="contact"><i class="material-icons">contact_mail</i> Contact Us</a>
  </li>
</ul>
<div class="divider"></div>
<nav class="white px-m-4" id="mainNav">
  <div class="nav-wrapper">
    <a href="javascript:;" data-target="mobile-sidenav" class="sidenav-trigger"><i class="material-icons black-text">menu</i></a>
    <a href="./" class="brand-logo"><img src="images/apsara.jpg" class="ml-4 brand-img" alt="Apsara" />

      <ul class="right hide-on-med-and-down">
        <li><a href="./" class="black-text hover-text-primary fw-500">Home</a></li>
        <li><a href="about" class="black-text hover-text-primary fw-500">About Us</a></li>
        <?php
        require_once "services/db.inc.php";
        $sql = "SELECT * FROM `types`";
        $result = DB::getConnection()->query($sql);
        if ($result->num_rows > 0) {  ?>
          <li class="drop">
            <a class="black-text hover-text-primary fw-500" href="javascript:;">Menu</a>
            <ul>
              <?php
              while ($nav = $result->fetch_assoc()) { ?>
                <li><a href="menu/<?= $nav['url'] ?>"><?= $nav['title'] ?></a></li>
              <?php } ?>
            </ul>
          </li>
        <?php } ?>
        <li><a href="gallery" class="black-text hover-text-primary fw-500">Gallery</a></li>
        <li><a href="contact" class="black-text hover-text-primary fw-500">Contact Us</a></li>
        <li><a href="cart" class="black-text hover-text-primary fw-500 pos-rel cart"><i class="material-icons left">shopping_cart</i> Cart <div class="num circle red white-text hide"></div></a>
        </li>
      </ul>
  </div>
</nav>
<!-- <div class="fixed-logo circle white z-depth-2">
  <img src="images/apsara.jpg" class="full" />
</div> -->